## 1. Importar librerias

In [17]:
# Importar librerias
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## 2. Importar dataset

In [18]:
uber=pd.read_csv('C:/Users/AlexP/Documents/workspace/ML/Laboratorios 9C/Uber.csv')

In [19]:
uber.head()

  Dispatching_base_num          Pickup_date Affiliated_base_num  locationID
0               B02617  2015-05-17 09:47:00              B02617         141
1               B02617  2015-05-17 09:47:00              B02617          65
2               B02617  2015-05-17 09:47:00              B02617         100
3               B02617  2015-05-17 09:47:00              B02774          80
4               B02617  2015-05-17 09:47:00              B02617          90

**2. Exploracion de las caracteristicas del dataset y procesamiento**

In [20]:
#visualiza el tamanio del dataset
uber.shape

(14270479, 4)

In [21]:
#Mostrar valores duplicados
uber.duplicated().sum()

np.int64(898225)

In [22]:
#Eliminar valores duplicados
uber.drop_duplicates(inplace=True)

In [23]:
#Verificar la eliminacion de valores duplicados
uber.duplicated().sum()

np.int64(0)

In [24]:
#visualiza el tamanio del dataset
uber.shape

(13372254, 4)

In [25]:
#Visualizar los tipos de datos de las columnas del dataset
uber.dtypes

Dispatching_base_num    object
Pickup_date             object
Affiliated_base_num     object
locationID               int64
dtype: object

In [26]:
#Comnvertir la columna Pickup_date de tipo objecto a Datetime
uber['Pickup_date'] = pd.to_datetime(uber['Pickup_date'], format='%Y-%m-%d %H:%M:%S')

In [27]:
#Extraer el mes del dataset
uber.dtypes

Dispatching_base_num            object
Pickup_date             datetime64[ns]
Affiliated_base_num             object
locationID                       int64
dtype: object

In [28]:
#Extraer los meses del dataset
uber['Pickup_date'].dt.month

0           5
1           5
2           5
3           5
4           5
           ..
14270474    5
14270475    5
14270476    5
14270477    5
14270478    5
Name: Pickup_date, Length: 13372254, dtype: int32

In [29]:
#Extraer los dias del dataset
uber['Pickup_date'].dt.day

0           17
1           17
2           17
3           17
4           17
            ..
14270474     8
14270475     8
14270476     8
14270477     8
14270478     8
Name: Pickup_date, Length: 13372254, dtype: int32

In [ ]:
#Extraer y agregar las caracteristicas extraidas
uber['month']=uber['Pickup_date'].dt.month
uber['day']=uber['Pickup_date'].dt.day
uber['weekday']=uber['Pickup_date'].dt.day_name()
uber['hour']=uber['Pickup_date'].dt.hour
uber['minute']=uber['Pickup_date'].dt.minute

#Verificar la creacion de columnas
uber

In [ ]:
#Grafica los valores obtenidos del conteo mensual de servicios
uber['month'].value_counts().plot(kind='bar')

In [ ]:
#Agrupa los datos utilizando las columunas motnh y weekday del dataset y las guardamos en el dataset llamado datagroup1
datagroup1=uber.groupby(['month','weekday'], as_index=False).size()

datagroup1.head()

In [ ]:
#Muestra los valores unicos contenidos en la columna math
datagroup1['month'].unique()

In [ ]:
#Construye